<div class="row">
    <div class="col-md-8">
        <arsenal:header params="arsenalTitle: arsenalTitle"></arsenal:header>
    </div>
    <div class="col-md-4">
        <arsenal:cost-chart></arsenal:cost-chart>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4><a data-bind="text: showUrl, attr: { href: showUrl  }" href="#" target="_blank"></a></h4>
                <p data-bind="text: description"></p>
                <p>Created on <span data-bind="text: created_date"></span></p>
            </div>
        </div>
    </div>
</div>

<arsenal:list params="mode: 'show', arsenalId: arsenalId"></arsenal:list>

<div class="row">
    <div class="col-md-4">
        <a data-bind="attr: { href: editUrl }" class="btn btn-primary btn-md btn-block offset-bottom-md" role="button" href="#" >Edit</a>
    </div>
</div>
