<div class="starter-template">

    <div class="row">
        <div class="col-md-8 page-header">
            <h1>ARSENAL: <span data-bind="text: name"></span> <small>by <span data-bind="text: author"></span></small></h1>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="bar-chart">
                        <tr>
                            <th rowspan="3" style="text-align: center; vertical-align: top;">Skills</th>
                            <td><div class="bar" data-toggle="tooltip" data-placement="top" title=""></div></td>
                            <td><div class="bar" data-toggle="tooltip" data-placement="top" title=""></div></td>
                            <td><div class="bar" data-toggle="tooltip" data-placement="top" title=""></div></td>
                            <td><div class="bar" data-toggle="tooltip" data-placement="top" title=""></div></td>
                            <td><div class="bar" data-toggle="tooltip" data-placement="top" title=""></div></td>
                            <td><div class="bar" data-toggle="tooltip" data-placement="top" title=""></div></td>
                            <td><div class="bar" data-toggle="tooltip" data-placement="top" title=""></div></td>
                            <td><div class="bar" data-toggle="tooltip" data-placement="top" title=""></div></td>
                            <td><div class="bar" data-toggle="tooltip" data-placement="top" title=""></div></td>
                        </tr>
                        <tr>
                            <th>0</th>
                            <th>1</th>
                            <th>2</th>
                            <th>3</th>
                            <th>4</th>
                            <th>5</th>
                            <th>6</th>
                            <th>7</th>
                            <th>8+</th>
                        </tr>
                        <tr>
                            <th colspan="9" style="text-align: center;">
                                Cost
                            </th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4><a data-bind="text: url, attr: { href: url  }" href="#" target="_blank"></a></h4>
                    <p data-bind="text: description"></p>
                    <p>Created on <span data-bind="text: created_date"></span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <ul data-bind="foreach: arsenalSkills[0]" class="arsenal-list list-unstyled">
                <li><a data-bind="text: skill.name, attr: { class: cssNames, 'data-content': skill.meta, rel: skill.type !== 'Aura' ? 'meta' : '' }" role="button" href="#" ></a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul data-bind="foreach: arsenalSkills[1]" class="arsenal-list list-unstyled">
                <li><a data-bind="text: skill.name, attr: { class: cssNames, 'data-content': skill.meta, rel: skill.type !== 'Aura' ? 'meta' : '' }" role="button" href="#" ></a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul data-bind="foreach: arsenalSkills[2]" class="arsenal-list list-unstyled">
                <li><a data-bind="text: skill.name, attr: { class: cssNames, 'data-content': skill.meta, rel: skill.type !== 'Aura' ? 'meta' : '' }" role="button" href="#" ></a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a data-bind="click: editClicked" class="btn btn-primary btn-md btn-block offset-bottom-md" role="button" href="#" >Edit</a>
        </div>
    </div>

</div>