<div class="panel panel-default">
    <div class="panel-body">
        <table class="bar-chart center-block">
            <tr>
                <th rowspan="3" style="text-align: center; vertical-align: top;">Skills</th>
                <td><div class="bar" data-toggle="tooltip" data-placement="top"></div></td>
                <td><div class="bar" data-toggle="tooltip" data-placement="top"></div></td>
                <td><div class="bar" data-toggle="tooltip" data-placement="top"></div></td>
                <td><div class="bar" data-toggle="tooltip" data-placement="top"></div></td>
                <td><div class="bar" data-toggle="tooltip" data-placement="top"></div></td>
                <td><div class="bar" data-toggle="tooltip" data-placement="top"></div></td>
                <td><div class="bar" data-toggle="tooltip" data-placement="top"></div></td>
                <td><div class="bar" data-toggle="tooltip" data-placement="top"></div></td>
                <td><div class="bar" data-toggle="tooltip" data-placement="top"></div></td>
            </tr>
            <tr>
                <th>0</th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>7</th>
                <th>8+</th>
            </tr>
            <tr>
                <th colspan="9" style="text-align: center;">
                    Cost
                </th>
            </tr>
        </table>
    </div>
</div>