<div class="panel panel-default">
    <div class="panel-body arsenal-header">
        <img data-bind="attr: { src: arsenalCaseSrc() }" class="case-count pull-left" src="/arsenal-lab/img/cases/arsenal_case_3_140.png">
        <h1 data-bind="html: arsenalTitle"></h1>
        <ul class="school-list">
            <li><img data-bind="style: { visibility: psychoVisible() ? 'visible' : 'hidden' }" src="/arsenal-lab/img/skills/psycho_26.png"></li>
            <li><img data-bind="style: { visibility: opticalVisible() ? 'visible' : 'hidden' }" src="/arsenal-lab/img/skills/optical_26.png"></li>
            <li><img data-bind="style: { visibility: natureVisible() ? 'visible' : 'hidden' }" src="/arsenal-lab/img/skills/nature_26.png"></li>
            <li><img data-bind="style: { visibility: kiVisible() ? 'visible' : 'hidden' }" src="/arsenal-lab/img/skills/ki_26.png"></li>
            <li><img data-bind="style: { visibility: faithVisible() ? 'visible' : 'hidden' }" src="/arsenal-lab/img/skills/faith_26.png"></li>
        </ul>
    </div>
</div>