<!-- Save Modal -->
<div class="modal fade" id="save-modal" tabindex="-1" role="dialog" aria-labelledby="save-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="save-form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Publish Arsenal</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Arsenal Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Enter Arsenal Name">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" class="form-control" id="description" name="description" placeholder="Enter Description">
                    </div>
                    <div class="form-group">
                        <label for="author">Author</label>
                        <input type="text" class="form-control" id="author" name="author" placeholder="Enter Author">
                    </div>
                    <div class="form-group">
                        <!--
                        http://maxwells.github.io/bootstrap-tags.html
                        -->
                        <label for="arsenal-tags">Tags</label>
                        <div id="arsenal-tags" class="tag-list"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button data-bind="click: saveArsenal" type="button" class="btn btn-primary">Publish</button>
                </div>
            </form>
        </div>
    </div>
</div>
