#page {
    margin-top: 80px;

    /* 
    TODO: This is specific to pages that display arsenals so  maybe this eventually 
    needs to be moved to a better selector. This is to make it easier to view 
    arsenal popovers that display at the bottom of the page. 
    */
    margin-bottom: 250px;  
}

/* Basic layout stuff
------------------------------------------------------------------------------*/
.offset-bottom-sm {
    margin-bottom: 4px;
}

.offset-bottom-md {
    margin-bottom: 8px;
}

.offset-bottom-lg {
    margin-bottom: 12px;
}

/* Main Banner
------------------------------------------------------------------------------*/
.main-banner {
    background-image: url("/arsenal-lab/img/banner3.png"); 
}

/* Arsenal Header
------------------------------------------------------------------------------*/
.arsenal-header {
    position:relative;
}

.case-count {
    background-color: #529c86;
    display: inline-block;    
    margin-right: 15px;
}

.school-list {
    position: absolute;
    bottom:5px;
    right:15px;
}

.school-list li {
    display: inline-block;
    list-style-type: none;
    border: 1px solid #529c86;
    min-width: 40px;
    min-height: 26px;
}

.school-list li img {
    background-color: #529c86;
}

/* Browse List
------------------------------------------------------------------------------*/
.browse-list li {
    background: #303030;
    border: 1px solid #464545;
    padding: 4px 10px 10px;
    margin-bottom: 10px;
}

/* Arsenal List
------------------------------------------------------------------------------*/
.arsenal-list li {
    margin-bottom: 6px;
}

.created-date {
    color: #999;
    font-size: smaller;
}

/* Random Modal
------------------------------------------------------------------------------*/

#type-min-table td {
    padding: 4px;
}

/* Skill Meta
------------------------------------------------------------------------------*/
.skill-meta {
}

.skill-meta-pop {
    min-width: 320px;
}

.skill-id {
    width: 30px;
    display: inline-block;
}

.skill-id-rarity {
    width: 110px;
    float: right;
    white-space: nowrap;
}

#skill-preview {
    width:100%;
    /*height:177px;*/
}

#skill-preview img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Skill Modal
------------------------------------------------------------------------------*/
.skill-list {
    height: 325px;
    margin-bottom: 0;
    overflow: auto; 
}

/* Skill Modal Sort Popover
------------------------------------------------------------------------------*/
#skill-sort-1,
#skill-sort-2,
#skill-sort-3 {
    color: #222;
}

/* Skill Default
------------------------------------------------------------------------------*/
.skill {
    background-color: #6AB486;
    background-repeat:no-repeat;
    background-position: right 10px center;
    color: #262125;
    font-weight: bold;
    text-align: left;
}

.skill:hover {
    color: #262125;
}

/* Skill Types
------------------------------------------------------------------------------*/

.aura,
.aura:active,
.aura.active {
    background-image: url('/arsenal-lab/img/skills/aura_26.png');
}

.aura {
    background-color: #6AB486;
}

.aura:hover {
    background-color: #8AD5AC;
}

.aura.active {
    background-color: #429761;
    -moz-box-shadow: inset 0 0 10px 4px #247B44;
    -webkit-box-shadow: inset 0 0 10px 4px #247B44;
    box-shadow: inset 0 0 10px 4px #247B44;
}

.attack {
    background-color: #FF601F;
}

.attack:hover  {
    background-color: #FF7D4A;
}

.attack.active {
    background-color: #D73E01;
    -moz-box-shadow: inset 0 0 10px 4px #A93000;
    -webkit-box-shadow: inset 0 0 10px 4px #A93000;
    box-shadow: inset 0 0 10px 4px #A93000;
}

.defense {
    background-color: #4167F9;
}

.defense:hover  {
    background-color: #6787FA;
}

.defense.active {
    background-color: #1B4AF6;
    -moz-box-shadow: inset 0 0 10px 4px #0636E6;
    -webkit-box-shadow: inset 0 0 10px 4px #0636E6;
    box-shadow: inset 0 0 10px 4px #0636E6;
}

.erase {
    background-color: #B246F3;
}

.erase:hover  {
    background-color: #C36EF6;
}

.erase.active {
    background-color: #9008E1;
    -moz-box-shadow: inset 0 0 10px 4px #6E04AD;
    -webkit-box-shadow: inset 0 0 10px 4px #6E04AD;
    box-shadow: inset 0 0 10px 4px #6E04AD;
}

.status {
    background-color: #62EC3E;
}

.status:hover  {
    background-color: #82F264;
}

.status.active {
    background-color: #24AC00;
    -moz-box-shadow: inset 0 0 10px 4px #1C8700;
    -webkit-box-shadow: inset 0 0 10px 4px #1C8700;
    box-shadow: inset 0 0 10px 4px #1C8700;
}

.environment {
    background-color: #33EDE5;
}

.environment:hover  {
    background-color: #5CF2EC;
}

.environment.active {
    background-color: #00B8B1;
    -moz-box-shadow: inset 0 0 10px 4px #00817C;
    -webkit-box-shadow: inset 0 0 10px 4px #00817C;
    box-shadow: inset 0 0 10px 4px #00817C;
}

.special {
    background-color: #DDE332;
}

.special:hover  {
    background-color: #F1F759;
}

.special.active {
    background-color: #B9BF14;
    -moz-box-shadow: inset 0 0 10px 4px #929802;
    -webkit-box-shadow: inset 0 0 10px 4px #929802;
    box-shadow: inset 0 0 10px 4px #929802;
}

/* Skill Schools
------------------------------------------------------------------------------*/
.nature {
    background-image: url('/arsenal-lab/img/skills/nature_26.png') !important;
}

.optical {
    background-image: url('/arsenal-lab/img/skills/optical_26.png') !important;
}

.faith {
    background-image: url('/arsenal-lab/img/skills/faith_26.png') !important;
}

.psycho {
    background-image: url('/arsenal-lab/img/skills/psycho_26.png') !important;
}

.ki {
    background-image: url('/arsenal-lab/img/skills/ki_26.png') !important;
}

/* School Toggle Buttons
------------------------------------------------------------------------------*/
#school-toggle input {
    text-align: center;
    width:80px;
}

#school-toggle .btn-primary:hover {
    background-color: #375a7f;
}

/* Bar Chart
------------------------------------------------------------------------------*/
.bar-chart {
    width: 240px;
}

.bar-chart th,
.bar-chart td {
    vertical-align: bottom;
    padding: 0 2px;
}

.bar-chart th {
    text-align: center;
}

.bar-chart td {
    /*height: 100px;*/
    height: 98px;
}

.bar {
    width: 18px;
    background-color: #464545;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

/* "bootstrap-tags" styles (http://maxwells.github.io/bootstrap-tags.html)
------------------------------------------------------------------------------*/
.tags-suggestion-list.dropdown-menu {
    color: #222;
}

#arsenal-tags .tags-input {
    /*padding: 10px 0;*/
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-indent: 12px;
}

#arsenal-tags .tag {
    background-color: #375a7f;
}

#arsenal-tags .tag:hover {
    background-color: #28415b;
}

#arsenal-tags .tags-suggestion-highlighted {
    background: #375a7f;
}